.scene.main-scene {
	width: 1920px;
	height: 600px;
	align-self: flex-end;
	flex-direction: column;
}

.scene.main-scene > .main-container {
	width: 1920px;
	position: absolute;
	opacity: 0;
	flex-direction: column;
	color: var(--sa-purple-dark);
	/* background-color: rgba(179, 104, 170, 0.48); */
}

fitted-text.main-flavor-text {
	font-size: 64px;
	font-weight: 700;
}

.scene.main-scene > .main-container > .line {
	width: 1000px;
	height: 5px;
	background-color: var(--sa-purple);
	margin: 15px 0;
}

.music-timer-wrapper {
	width: 1800px;
	flex-direction: column;
	justify-content: flex-start;
}

.music-timer-wrapper > .music,
.music-timer-wrapper > .timer {
	display: flex;
	align-items: center;
	height: 70px;
}

.music-timer-wrapper > .music > i,
.music-timer-wrapper > .timer > i {
	margin-right: 15px;
	font-size: 50px;
}

.music-timer-wrapper > .music > fitted-text,
.music-timer-wrapper > .timer > div {
	font-size: 48px;
}

.music-timer-wrapper > .line {
	width: 500px;
	height: 5px;
	background-color: var(--sa-purple-dark);
	margin: 15px 0;
}

#mins-remaining {
	font-weight: 700;
}

.main-container-title {
	font-size: 80px;
	font-weight: 700;
}

.scene.main-scene > .main-container > .support-row > i {
	font-size: 60px;
}

.scene.main-scene > .main-container > .support-row > span {
	margin-left: 20px;
	font-weight: 600;
}

.scene.main-scene > .main-container > .support-row {
	font-size: 45px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
