.casters-wrapper {
	position: absolute;
	bottom: 50px;
	right: 50px;
}

.casters-wrapper > .casters {
	background-color: var(--scoreboard-background);
	text-align: center;
	font-size: 30px;
	border-radius: 12px;
	color: var(--sa-purple-light);
	width: 300px;
	padding: 1px 0;
}

.casters > .title {
	font-weight: 600;
	border-bottom: 4px solid var(--sa-purple);
	margin: 5px 10px;
}

.caster {
	margin-bottom: 5px;
}

.caster > fitted-text.name {
	font-weight: 600;
}

.caster > fitted-text.twitter {
	font-size: 26px;
}

#caster-elements {
	margin: 10px;
}

span.pronoun {
	font-size: 20px;
	background-color: var(--sa-purple-light);
	color: white;
	padding: 2px 5px;
	border-radius: 5px;
}
